#form2 {
    margin: 70px 80px;
    padding: 10px 350px;
}

.form2 {
    text-align: center;
    margin-top: 50px;
}

#p3 {
    margin: 0px;
}

#p2 {
    margin: 0px;
}


#button {
    text-align: right;
}

#back {
    color: grey;
    margin: 0;
}
